body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #ff4e50, #f9d423);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.box {
  background: rgba(255,255,255,0.2);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 0 20px pink;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: hotpink;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
}
